:root {
    --background-color: #3399FF;
    --navbar-background: white;
    --link-color: #0056b3;
    --link-hover-background: #f0f0f0;
    --dropdown-background: #f9f9f9;
    --dropdown-hover-background: #ddd;
    --text-color: black;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.welcome {
    display: flex;
    align-items: center;
}

/* TODO Need to adjust the size dynamically with a @media query */
.picture {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between image and text */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline-block;
    background-color: var(--navbar-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
}

li a {
    display: inline-block;
    color: var(--link-color);
    text-align: left;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

li a:hover {
    background-color: var(--link-hover-background);
}

.main {
    background-color: var(--navbar-background);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.main a {
    display: block;
    color: var(--link-color);
    text-align: left;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.main a:hover {
    background-color: var(--link-hover-background);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: var(--navbar-background);
    color: var(--link-color);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-background);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-hover-background);
}

.dropdown:hover .dropdown-content {
    display: block;
}
