:root {
    --background-color: #3399FF;
    --container-background: white;
    --input-border: #ccc;
    --button-color: #0056b3;
    --button-hover-color: #003d80;
    --link-color: #0056b3;
    --text-color: black;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}

/* Note changed the body formatting to a main container because the body styling messed with the nav bar styling */
.main{
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--container-background);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 350px;
    min-height: 400px; /* Adds minimum height to the container */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligns content to the top */
    padding-top: 40px; /* Adds top padding to prevent logo cutoff */
}


h2 {
    margin-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 95%;
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}


#passwordRequirements {
    text-align: left;
    margin: 10px 0;
}

#passwordRequirements p {
    margin: 5px 0;
    font-size: 14px;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}
